*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#all-content {
    background-color: #232d2a;
    margin: 0 auto;
    padding: 20px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;

}


.screen {
    position: relative;
    border: 2px solid rgb(80, 13, 13);
    max-width: 500px;
    width: 100%;
    height: 100px;
    background-color: #8F9779;
}

#answer {
    position: absolute;
    font-size: 1.5em;
    bottom: 0;
    right: 0;
    font-family: monaco;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    max-width: 700px;
    padding: 2em;   
    font-size: 2em; 
}

.character {
    border: 2px solid black;
    place-items: center;
    place-content: center;
    margin: 10px;
    text-align: center;
    font-family: monaco;
    color: white;
    width: 2em;
    max-width: 3em;
}

#dot {
    
}

.character:hover {
    background-color: #404f4a;
    cursor: pointer;
}

.character:active {
    background-color: white;
    color: black;
}


.empty {
    border: none;
}

.empty:hover {
    background-color: #232d2a;
    color: white;
}


#output {
    font-size: 1.5em;
    font-family: monaco;
}